*~
.DS_Store
node_modules/
coverage/
dist/
.nyc_output/
po/thingtalk.pot
po/*.mo
po/*.json
.idea/
smt/
yarn-error.log

lib/grammar.js
lib/nn-syntax/parser.ts

tools/meta-sentence-generator/grammar.js
tools/generate-parser/grammar.js
test/test_sr_parser_generator.ts

# json doc
/out

*.tgz
*.tsv
*.py
