*~
.DS_Store
node_modules/
coverage/
.nyc_output/
po/thingtalk.pot
po/*.mo
po/*.json
.idea/
smt/

lib/grammar.js
lib/nn-syntax/parser.js

tools/meta-sentence-generator/grammar.js
tools/generate-parser/grammar.js
test/test_sr_parser_generator.js

*.tgz
*.tsv
*.py
